<table class="legend" border="0">
  <tr>
    <th>Icon</th>
    <th>Status</th>
    <th>Total</th>
  </tr>
  <tr>
    <td><img src= <%= asset_path("mm_20_white.png") %> /></td>
    <td>Not Complete (Fish Sample only)</td>
    <td id="FishOnlyNotComplete">  </td>
  </tr>
   <tr>
     <td><img src= <%= asset_path("mm_20_green.png") %> /></td>
    <td>Complete (Fish Sample only)</td>
    <td id="FishOnlyComplete">  </td>
  </tr>
  <tr>
    <td><img src= <%= asset_path("WhiteTriangle.png") %> /></td>
    <td>Not Complete (Fish/LPI/Demo Sample)</td>
    <td id="AllThreeNotComplete">  </td>
  </tr>
  <tr>
    <td><img src= <%= asset_path("GreenTriangles.png") %> /></td>
    <td>All Complete (Fish/LPI/Demo Sample)</td>
    <td id="AllThreeComplete">  </td>
  </tr>
  <tr>
    <td><img src= <%= asset_path("YellowTriangle.png") %> /></td>
    <td>Fish Complete (Fish/LPI/Demo Sample)</td>
    <td id="AllThreeFishComplete">  </td>
  </tr>
  <tr>
    <td><img src= <%= asset_path("IndigoTriangle.png") %> /></td>
    <td>LPI/Demo Complete (Fish/LPI/Demo Sample)</td>
    <td id="AllThreeDemoComplete">  </td>
  </tr>
  <tr>
    <td><img src= <%= asset_path("Cross.png") %> /></td>
    <td>No Habitat Found</td>
    <td id="NoHabitat">  </td>
  </tr>
  <tr>
    <td><img src= <%= asset_path("mm_20_black.png") %> /></td>
    <td>Alternate</td>
  </tr>
</table>

